.hero__image-box {
  padding: 18rem;
  background-color: var(--grey);
  background-image: url(../images/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text-box {
  padding: 1rem;
}

.hero__heading-main {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.hero__text-desc {
  color: var(--grey);
}

.hero__location {
  display: flex;
  align-items: center;
}

.arrow-icon {
  background-color: var(--gold);
  padding: 2rem;
}

.arrow-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
